@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.page-header-content {
  margin: 30px 50px;
}
.page-header {
  flex: auto;
  width: 100vw;

  /* background: url("/assets/svg/page-header2.svg"); */
  position: relative;
}
.page-header-slider {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  height: 610px;
  border-bottom-right-radius: 20%;
}
.slider {
  position: relative;
}
.slider-title {
  position: absolute;
  z-index: 10;
  font-family: "Bangers", cursive;
  top: 200px;
  left: 100px;
  font-size: 50px;
  color: #413f53;
  text-shadow: 1px 1px 1px white;
  animation: textent 2s, textappear 2s;
}
@keyframes textent {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes textappear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu {
  animation: menuenter 1s;
}
@keyframes menuenter {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}
.side-nav {
  background-color: #fff;
  padding: 50px 10px;
}
.header {
  display: flex;
}

@keyframes scaleimg {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.header-img {
  animation: scaleimg ease-in-out 8s infinite;

  height: 110vh;
  width: 100vw;

  top: 0;
}
.header-img-mobile {
  animation: scaleimg ease-in-out 8s infinite;

  height: 100vh;
  width: 100%;

  top: 0;
}

.social-links {
  display: flex;
  flex-direction: column;
  margin: 180px 0;
  text-align: center;
}
.social-links .fab {
  margin: 10px 0;
  color: #3f3d54;
  cursor: pointer;
}
.top-nav {
  display: flex;
}
.logo {
  flex: auto;
}
.logo-img {
  width: 200px;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
}
.menu-list li {
  padding: 20px 10px;
}
.menu-list li a {
  color: #403e52;
  font-size: 14px;

  font-family: "Abril Fatface", cursive;
}
.search {
  color: #333333;
}

.hamburger-bar {
  background-color: #000;
  width: 30px;
  height: 2px;
  margin: 3px;
  position: relative;
  transform: rotateY(360deg);
  transition: 0.5s;
}
/* .svg {
  width: 100%;
  height: 100px;
  transform: translateY(-100px);
} */
.succeed {
  position: absolute;
  top: 24%;
  left: 10px;
  font-size: 180px;
  font-family: "Bangers", cursive;
  opacity: 0.05;
  animation: lefttoright ease-in-out 2s, scaletxt ease-in-out 14s 4s infinite;
}
@keyframes blinkers {
  0% {
    box-shadow: 1px 2px 2px #a62829;
  }
  100% {
    box-shadow: none;
  }
}
@keyframes lefttoright {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes scaletxt {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.hamburger {
  cursor: pointer;
  position: relative;
}
.hamburger.open .hamburger-bar:nth-child(1) {
  transform: rotate(135deg);
  position: absolute;
  transition: 0.5s;
  top: 0;
}
.discover-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.discover-content {
  height: 20px;
  width: 1px;
  background-color: #000;
  margin-top: 7px;
  cursor: pointer;
}
.discover {
  cursor: pointer;
  border: 1px solid black;
  height: 40px;
  width: 30px;
  position: absolute;
  bottom: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  animation: blinkers 0.5s infinite;
}
@keyframes righttoleft {
  0% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0);
  }
}

.hamburger.open .hamburger-bar:nth-child(2) {
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}
.hamburger.open .hamburger-bar:nth-child(3) {
  transform: rotate(45deg);
  position: absolute;
  transition: 0.5s;
  top: 0;
}
.mobile-menu-list {
  margin: 110px 0;
  display: none;
}
.mobile-menu-list.show {
  display: block;
}
.mobile-menu-list > li:nth-child(1) {
  animation: righttoleft 0.5s;
}
.mobile-menu-list > li:nth-child(2) {
  animation: righttoleft 0.7s;
}
.mobile-menu-list > li:nth-child(3) {
  animation: righttoleft 0.9s;
}
.mobile-menu-list > li:nth-child(4) {
  animation: righttoleft 1.1s;
}
.mobile-menu-list > li:nth-child(5) {
  animation: righttoleft 1.3s;
}
.mobile-menu-list a {
  color: #403e52;
  font-size: 14px;

  font-family: "Abril Fatface", cursive;
}

/* .hamburger.open .hamburger-bar:nth-child(2) {
  opacity: 0;
  transition-duration: 0.25s;
}

.hamburger.open .hamburger-bar:nth-child(1) {
  transform: rotate(135deg);
  transition: 0.25s;
}
.hamburger.open .hamburger-bar:nth-child(3) {
  transform: rotate(-135deg);
  transition: 0.25s;
}  */
@media screen and (max-width: 750px) {
  .menu {
    display: none;
  }

  .social-links {
    margin: 80px 0;
  }
  .page-header-content {
    margin: 30px 20px;
  }
  .logo-img {
    width: 170px;
  }
  .slider-title {
    font-size: 30px;
    left: 20px;
  }
}
